---
title: "Nicole Burke, PhD"
author_profile: true
layout: splash

header:
  overlay_filter: "0.5"
  overlay_image: /assets/images/networkpic_homepage3.png
  actions:
    - label: "CV"
      url: https://drive.google.com/file/d/10wlSwcQul16YWLzyK2BIVoMc7Sb8Mb_e/view?usp=sharing

excerpt: "I use social networks as a method and framework to describe young children's early social environments and generate hypotheses about how early social environments impact social cognitive development."

intro:
  - excerpt: ''

feature_row:
  - image_path: /assets/images/nicoleburke_glasses.png
    alt: "About Me"
    title: "About Me"
    excerpt: "I am a postdoctoral associate at New York University. In my doctoral work, I developed The Child Social Network Questionnaire, which captures infants' and children's social networks."
    url: /aboutme/
    btn_label: "Learn More"
    btn_class: "btn--success"

  - image_path: /assets/images/socialnetwork2.png
    alt: "Research Interests"
    title: "Research Interests"
    excerpt: "Infant social networks, social cognition, and early language experience."
    url: /research/
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/networkpic_forhomepage.png
    alt: "CV"
    title: "CV"
    excerpt: "Click here to see my full CV."
    url: https://drive.google.com/file/d/1ZJC1eWkb448DIprVTZNJA2qzeoIGzBEW/view?usp=sharing
    btn_label: "CV"
    btn_class: "btn--success"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}